{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle Race</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn">Ajouter</button>
    </div>
    {{ form_end(form) }}
{% endblock %}


