{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for breed in breeds %}
        <tr>
            <td>{{ breed.id }}</td>
            <td>{{ breed.name }}</td>
            <td>
                <a class="delete-btn" href="{{ path('breed_delete', { 'breed' : breed.id }) }}">
                    <button><i class="fa fa-trash"></i></button>
                </a>
                <a href="{{ path('breed_edit', { 'breed' : breed.id }) }}">
                    <button><i class="fa fa-edit"></i></button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    <script>
        const deleteButtons = document.getElementsByClassName('delete-btn');
        for(let button of deleteButtons) {
            button.addEventListener('click', e => {
                let response = confirm('êtes vous sûr de vouloir supprimer cet élément');
                if(!response) {
                    e.preventDefault();
                }
            });
        }
    </script>
{% endblock %}

