{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>N° de Puce</th>
            <th>Image</th>
            <th>Race</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for animal in animals %}
        <tr>
            <td>{{ animal.id }}</td>
            <td>{{ animal.chipNumber }}</td>
            {% if animal.picture != null %}
                <td><img style="height: 75px; width: auto"
                         src="data:{{ animal.mimeType }};base64,{{ animal.picture64 }}"></td>
            {% else %}
                <td>Pas d'image</td>
            {% endif %}

            <td>{{ animal.breed.name }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
