@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


#menu-button {
    cursor: pointer;
}

#menu-button:hover {
    color: orange;
}

aside#menu {
    margin-left: 0;
    transition: all 0.3s ease;
}

aside#menu.collapsed {
    margin-left: -300px;
}

body {
    margin: 0;
    background: #f1f2f3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    background: white;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bolder;
}

button:hover {
    color: white;
    background: cornflowerblue;
}

input {
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}

.menu-icon {
    margin-right: 15px;
}

header {
    height: 75px;
    background: cornflowerblue;
    box-shadow: 1px 0 3px 0 rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 25px;
}

header > h2 {
    margin: 0;
    color: white;
}

footer {
    background: cornflowerblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

main {
    display: flex;
    flex: 1;
}

main > aside > nav {
    width: 300px;
    background: cornflowerblue;
    height: 100%;
}

main > aside > nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main > aside > nav a:hover{
    background: orange;
}

main > aside > nav a{
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid white;
}

main > aside > nav .has-submenu li {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

main > aside > nav .has-submenu li a {
    padding-left: 50px;
}

main > aside > nav .has-submenu > a {
    position: relative;
}

main > aside > nav .has-submenu > a::after {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    display: flex;
    font-size: 20px;
    height: 50px;
    width: 100%;
    color: white;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-start;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 13px 15px;
}

main > aside > nav .has-submenu:hover li {
    height: 50px;
}

main > section {
    flex: 1;
    padding: 20px;
}