<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/v4-shims.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <i class="fa fa-bars" id="menu-button"></i>
            <h2>Animalerie</h2>
            <div class="menu-right">
                {% if app.user != null %}
                    <a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i></a>
                {% else %}
                    <a href="{{ path('app_login') }}">Se Loguer</a>
                    <a href="{{ path('app_register') }}">S'enregistrer</a>
                {% endif %}

            </div>
        </header>
        <main>
            <aside id="menu">
                <nav>
                    <ul>
                        <li><a href=""><i class="fa fa-home menu-icon"></i>Home</a></li>
                        <li class="has-submenu"><a><i class="fa fa-github menu-icon"></i>Animaux</a>
                            <ul>
                                <li><a href="{{ path('animal_index') }}">Index</a></li>
                                <li><a href="{{ path('animal_add') }}">Ajouter</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a><i class="fa fa-star menu-icon"></i>Races</a>
                            <ul>
                                <li><a href="{{ path('breed_index') }}">Index</a></li>
                                <li><a href="{{ path('breed_add') }}">Ajouter</a></li>
                            </ul>
                        </li>
                        <li><a href=""><i class="fa fa-cog menu-icon"></i>Paramètres</a></li>
                    </ul>
                </nav>
            </aside>
            <section>
                {% block body %}{% endblock %}
            </section>
        </main>
        <footer>
            &copy; TechnofuturTIC - 2021
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            {% for message in app.flashes('success') %}
                toastr.success('{{ message }}');
            {% endfor %}
            {% for message in app.flashes('error') %}
                toastr.error('{{ message }}');
            {% endfor %}
        </script>
        <script>
            const menuButton = document.getElementById('menu-button');
            const menu = document.getElementById('menu');
            menuButton.addEventListener('click', e => {
                if(menu.classList.contains('collapsed')) {
                    menu.classList.remove('collapsed');
                }
                else{
                    menu.classList.add('collapsed');
                }
            });
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
